*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#pai{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 45vw;
    border-radius: 6px;
    margin-top: 21vh;
    margin-left: 26.5vw;
    position: relative;
}

#inp1{
    margin-top: 8vh;
    margin-bottom: 10vh;
    width: 35vw;
    height: 8vh;
    border-radius: 8px;
    border: none;
    background-color: rgb(236, 236, 236);
    padding-left: 1vw;
}
#butt1{
    width: 3vw;
    height: 8vh;
    border-radius: 8px;
    border: none;
    margin-left: 0.5vw;
}
body{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(228, 225, 223);
}
h5{
    color: red;
    position: absolute;
    margin-left: 7vh;
    margin-top: 4vh;
}
#sec1{
    margin-left: 5vw;
}